<h2>This post has <%= pluralize(@comments.count, 'Comment') %></h2>
<%= pluralize(@comments.count, 'Comment')%>
<% render 'comments/form' %>

<% @comments.each do |comment| %>
  <p><%= comment.user.name%></p>
  <p><%= comment.message %></p>
  <% if current_user == comment.user%>
  <%= link_to 'Delete comment', [comment.event, comment], method: :delete %>
  <%= link_to 'Edit comment', edit_event_comment_path(comment.event, comment)%>
  <% end %>
<% end %>
