<%= form_for @event do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :'Event' %>
    <%= f.text_field :event_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :'Sports Category' %>
    <div class="form-inline">
      <%= f.select(:sports_cat, options_for_select([['Football', 'Football'], ['Basketball', 'Basketball'], ['Badminton', 'Badminton'], ['Tennis', 'Tennis'], ['Bowling', 'Bowling'], ['Hockey', 'Hockey'], ['Others', 'Others']]), {}, {class: "form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :'Date' %>
    <div class="input-group date">
      <!-- <%= f.select(:event_date, options_for_select(2016..2020), {}, {class: "form-control"}) %> -->
      <!-- <%= f.select(:event_date, options_for_select([['Jan', 'Jan'], ['Feb', 'Feb'], ['Mar', ''], ['Apr', 'Apr'], ['May', 'May'], ['Jun', 'Jun'], ['Jul', 'Jul'], ['Aug', 'Aug'], ['Sep', 'Sep'], ['Oct', 'Oct'], ['Nov', 'Nov'], ['Dec', 'Dec']]), {}, {class: "form-control"}) %> -->
      <!-- <%= f.select :event_date, (1..31).map { |i| "%02d" % i }, {}, {class: "form-control"} %> -->
      <%= f.text_field :event_date, class: "form-control datepicker" %>
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :'Start Time'%>
    <div class="form-inline">
      <!-- <%= f.select :start_time, (0..12).map { |i| "%02d" % i }, {}, {class: "form-control"} %> -->
      <!-- <%= f.select :start_time, (0..59).map { |i| "%02d" % i }, {}, {class: "form-control"} %> -->
      <!-- <%= f.select :start_time, options_for_select([['AM', 'AM'], ['PM', 'PM']]), {}, {class: "form-control"} %> -->
      <%= f.time_select :start_time, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :'End Time' %>
    <div class="form-inline">
      <!-- <%= f.select :end_time, (0..12).map { |i| "%02d" % i }, {}, {class: "form-control"} %> -->
      <!-- <%= f.select :end_time, (0..59).map { |i| "%02d" % i }, {}, {class: "form-control"} %> -->
      <!-- <%= f.select :end_time, options_for_select([['AM', 'AM'], ['PM', 'PM']]), {}, {class: "form-control"} %> -->
      <%= f.time_select :end_time, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :'Location' %>
    <%= f.text_field :event_address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :'Postal Code' %>
    <%= f.text_field :postal_code, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :'Players Required' %>
    <div class="form-inline">
      <%= f.number_field :players_req, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :'Details' %>
    <%= f.text_area :details, class: "form-control", rows: "3" %>
  </div>
  <div class="form-group">
    <%= f.label :'Upload event photograph' %>
    <%= f.file_field :picture, autofocus: true %>
  </div>
  <div>
    <%= f.submit "Add Event", class: "btn btn-primary" %>
  </div>
<% end %>
