<%= render 'partials/herointro' %>

<br/><Br/>

<%= react_component 'Event', {event: @event, eventusers: @eventusers}, {joinpath: join_event_path} %>
<!-- equivalent to -->
<!-- link_to "Join", { controller: "events", action: :join }, method: :post -->
<hr>
<div class= "hold-eventform-container">

<%= flash[:notice] %>

  <h3><%=@eventusers.length %> players have joined!</h3>
  <% @eventusers.each do |eventuser| %>
    <ul>
        <li>
            <a href="#"><%=link_to eventuser.name, user_path(eventuser) %></a>
            <!-- <%= eventuser.email %><br>
            <%= eventuser.contact_number %><br> -->
            <hr>
        </li>
    </ul>
  <%end%>
</div>


<div style='clear:both;'></div>

<hr/>

<%= render 'comments/form' %>

<%= render 'comments/comment' %>
