<%= render 'partials/herointro' %>

<br/><Br/>

<%= react_component 'Event', {event: @event}, {joinpath: join_event_path} %>
<!-- equivalent to -->
<!-- link_to "Join", { controller: "events", action: :join }, method: :post -->
<hr>
<div class= "hold-eventform-container">

  <h3>These players have joined!</h3>
  <% @eventusers.each do |eventuser| %>
    <ol>
        <li>
            <a href="#"><%= eventuser.name %></a>
            <!-- <%= eventuser.email %><br>
            <%= eventuser.contact_number %><br> -->
            <hr>
        </li>
    </ol>
  <%end%>
</div>


<div style='clear:both;'></div>

<hr/>

<%= render 'comments/form' %>

<%= render 'comments/comment' %>
