<%= render 'partials/herointro' %>

<br/><Br/>

<%= react_component 'Event', {event: @event, eventusers: @eventusers}, {joinpath: join_event_path} %>
<!-- equivalent to -->
<!-- link_to "Join", { controller: "events", action: :join }, method: :post -->
<hr>

<div style="clear:both;"></div>



<%= flash[:notice] %>



<div id="scroller-anchor"></div>
<div class="players-list" id="scroller">
  <h5><%=@eventusers.length %> players have joined!</h5>
    <ul>
        <li>
            <% @eventusers.each do |eventuser| %>
            <a href="#"><%=link_to eventuser.name, user_path(eventuser) %></a>
            <!-- <%= eventuser.email %><br>
            <%= eventuser.contact_number %><br> -->
              <%end%>
        </li>
    </ul>
  </div>





<div style='clear:both;'></div>

<hr/>

<%= render 'comments/form' %>

<%= render 'comments/comment' %>
