<p>Hi, <%= @user.name %></p>

<p>You have join the following event on FitMeets: </p>

<p>Sports Category: <%= @event.sports_cat %></p>
<p>Event Name: <%= @event.event_name %></p>
<p>Date: <%= @event.event_date %></p>
<p>Address: <%= @event.event_address %></p>
<p>Postal Code: <%= @event.postal_code %></p>
<p>Start Time: <%= @event.start_time %></p>
<p>End Time: <%= @event.end_time %></p>

<p>regards,</p>
<p>Fitmeets Team</p>
